
.col-header{
    margin-top: 30px;
    margin-bottom:50px;

}
#keyword{
    margin-top:50px;
    position:absolute;
    right: 30px;
    border: 2px solid black;
    padding :5px;
    border-radius: 5px;
}
.row-nothing{
    padding-top: 100px;
    position: absolute;
    right: 50%;
    transform: translate(50%,0);
}
.row-btn{
    padding-top:20px;
}
.btn-dark, .row-btn a{
    position: absolute;
    right: 15px;
}
