{% extends 'story7/base.html' %}
{% load static %}

{% block content %}
<body>
    <div class="containernbs">
        <a href="{% url 'homepage:index'%}"><button class="btn btn-dark" type="submit">back</button></a>
        <div class="row">
            <div class="col">
                <h1>Story7.</h1>
                <a href="{% url 'story7:index'%}#explore"><button class="btn btn btn-warning explore" type="submit">Explore</button></a>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-4">
                <h2 class="title" id="explore">Aktivitas</h2>
                <dl class="accordion">
                    <div class="item">
                        <dt>
                            <ul>
                                <li><a class='up' href='#explore'><button class="btn btn-danger btn-sm" type="submit"><i class='fa fa-chevron-up' style='font-size:18px'></i></button></a></li>
                                <li><a class='down' href='#explore'><button class="btn btn-danger btn-sm" type="submit"><i class='fa fa-chevron-down' style='font-size:18px'></i></button></a></li>
                            </ul> 
                            <p>Sistem informasi UI 2019</p></dt>
                        <div class="desc">
                            <dd>Saya berkuliah di Fakultas Ilmu Komputer Universitas Indonesia.
                            Saat ini saya sedang menempuh semester tiga. doain aku lulus semua 
                            matkul ya ol!</dd>
                        </div>
                    </div>

                    <div class="item">
                        <dt>
                            <ul>
                                <li><a class='up' href='#explore'><button class="btn btn-danger btn-sm" type="submit"><i class='fa fa-chevron-up' style='font-size:18px'></i></button></a></li>
                                <li><a class='down' href='#explore'><button class="btn btn-danger btn-sm" type="submit"><i class='fa fa-chevron-down' style='font-size:18px'></i></button></a></li>
                            </ul> 
                            <p>BKUI</p></dt>
                        <div class="desc">
                            <dd>menjadi salah satu staff Bedah Fakultas dan Jurusan sangatlah FUN!!</dd>
                        </div>
                    </div>

                    <div class="item">
                        <dt>
                            <ul>
                                <li><a class='up' href='#explore'><button class="btn btn-danger btn-sm" type="submit"><i class='fa fa-chevron-up' style='font-size:18px'></i></button></a></li>
                                <li><a class='down' href='#explore'><button class="btn btn-danger btn-sm" type="submit"><i class='fa fa-chevron-down' style='font-size:18px'></i></button></a></li>
                            </ul> 
                            <p>OIM UI</p></dt>
                        <div class="desc">
                            <dd>OIM adalah olimpiade ilmiah tingkat UI yang terdiri atas perlombaan PKM dan non-PKM. 
                                Kali ini saya ditempatkan di Divisi registrasi</dd>
                        </div>
                    </div>
                    
                    <div class="item">
                        <dt>
                            <ul>
                                <li><a class='up' href='#explore'><button class="btn btn-danger btn-sm" type="submit"><i class='fa fa-chevron-up' style='font-size:18px'></i></button></a></li>
                                <li><a class='down' href='#explore'><button class="btn btn-danger btn-sm" type="submit"><i class='fa fa-chevron-down' style='font-size:18px'></i></button></a></li>
                            </ul> 
                            <p>KGTK-imami UI</p></dt>
                        <div class="desc">
                            <dd>KGTK adalah singkatan dari kampus goes to kampuang. Acara ini merupakan salah satu bentuk 
                                penerapan tridharma perguruan tinggi yang dilakukan oleh paguyuban mahasiswa minang.
                            </dd>
                        </div>
                    </div>
                    <div class="item">
                        <dt>
                            <ul>
                                <li><a class='up' href='#explore'><button class="btn btn-danger btn-sm" type="submit"><i class='fa fa-chevron-up' style='font-size:18px'></i></button></a></li>
                                <li><a class='down' href='#explore'><button class="btn btn-danger btn-sm" type="submit"><i class='fa fa-chevron-down' style='font-size:18px'></i></button></a></li>
                            </ul> 
                            <p>Educare</p></dt>
                        <div class="desc">
                            <dd>Educare bertujuan untuk memberikan fasilitas kepada mahasiswa yang akan lulus.
                                Kali ini saya mencalonkan diri sebagai PIC Event yang nantinya akan mengurusi 
                                Seminar, podcast, dan CV Review.
                            </dd>
                        </div>
                    </div>
                </dl>
            </div>
            <div class="col-lg-4">
                <h2 class="title" id="kepanitiaan">Kepanitiaan</h2>
                <dl class="accordion">
                    <div class="item">
                        <dt>
                            <ul>
                                <li><a class='up' href='#kepanitiaan'><button class="btn btn-danger btn-sm" type="submit"><i class='fa fa-chevron-up' style='font-size:18px'></i></button></a></li>
                                <li><a class='down' href='#kepanitiaan'><button class="btn btn-danger btn-sm" type="submit"><i class='fa fa-chevron-down' style='font-size:18px'></i></button></a></li>
                            </ul> 
                            <p>Wisuda Ganjil Fasilkom</p></dt>
                        <div class="desc">
                            <dd>Acara syukuran untuk pelepasan wisudawan yang diadakan pada bulan Januari.
                                Saya berkesempatan berpastisipasi dalam divisi Humas dan Publikasi.
                            </dd>
                        </div>
                    </div>

                    <div class="item">
                        <dt>
                            <ul>
                                <li><a class='up' href='#kepanitiaan'><button class="btn btn-danger btn-sm" type="submit"><i class='fa fa-chevron-up' style='font-size:18px'></i></button></a></li>
                                <li><a class='down' href='#kepanitiaan'><button class="btn btn-danger btn-sm" type="submit"><i class='fa fa-chevron-down' style='font-size:18px'></i></button></a></li>
                            </ul> 
                            <p>Wisuda Genap Fasilkom</p></dt>
                        <div class="desc">
                            <dd>Diadakan pada bulan agustus, wisuda ini juga memiliki tujuan yang sama dengan 
                                wisuda ganjil, namun hanya berbeda pada waktunya saja.
                            </dd>
                        </div>
                    </div>

                    <div class="item">
                        <dt>
                            <ul>
                                <li><a class='up' href='#kepanitiaan'><button class="btn btn-danger btn-sm" type="submit"><i class='fa fa-chevron-up' style='font-size:18px'></i></button></a></li>
                                <li><a class='down' href='#kepanitiaan'><button class="btn btn-danger btn-sm" type="submit"><i class='fa fa-chevron-down' style='font-size:18px'></i></button></a></li>
                            </ul> 
                            <p>Perak</p></dt>
                        <div class="desc">
                            <dd>Perak adalah salah satu acara dimana masyarakat fasilkom yang sudah kelelahan ngoding
                                dapat have fun dengan teman teman lainnya. Saya berpartisipasi pada divisi Business Development
                            </dd>
                        </div>
                    </div>

                    <div class="item">
                        <dt>
                            <ul>
                                <li><a class='up' href='#kepanitiaan'><button class="btn btn-danger btn-sm" type="submit"><i class='fa fa-chevron-up' style='font-size:18px'></i></button></a></li>
                                <li><a class='down' href='#kepanitiaan'><button class="btn btn-danger btn-sm" type="submit"><i class='fa fa-chevron-down' style='font-size:18px'></i></button></a></li>
                            </ul> 
                            <p>Smapsic XIII+Jr9</p></dt>
                        <div class="desc">
                            <dd>SMAPSIc adalah pra-olimpiade tingkat Sumatera. Pada tahun pertama saya menjadi salah satu
                                staff finance. Pada tahun selanjutnya saya dipercaya menjadi koordinator pada bidang yang sama.
                            </dd>
                        </div>
                    </div>

                    <div class="item">
                        <dt>
                            <ul>
                                <li><a class='up' href='#kepanitiaan'><button class="btn btn-danger btn-sm" type="submit"><i class='fa fa-chevron-up' style='font-size:18px'></i></button></a></li>
                                <li><a class='down' href='#kepanitiaan'><button class="btn btn-danger btn-sm" type="submit"><i class='fa fa-chevron-down' style='font-size:18px'></i></button></a></li>
                            </ul> 
                            <p>PKS XIII</p></dt>
                        <div class="desc">
                            <dd>PKS merupakan kumpulan acara internal dan eksternal yang dilaksanakan oleh OSIS SMAN 1 Padang.
                                Mata lombanya pun juga beragam. Dilaksanakan selama 3 hari dan ditutup dengan lomba band akustik 
                                dan juga dimeriahkan dengan adanya guest star. Pada kesempatan itu, saya dipercaya menjadi Project Officer.
                            </dd>
                        </div>
                    </div>

                </dl>
            </div>
            <div class="col-lg-4">
                <h2 class="title" id="organisasi">Organisasi</h2>
                <dl class="accordion">
                    <div class="item">
                        <dt>
                            <ul>
                                <li><a class='up' href='#organisasi'><button class="btn btn-danger btn-sm" type="submit"><i class='fa fa-chevron-up' style='font-size:18px'></i></button></a></li>
                                <li><a class='down' href='#organisasi'><button class="btn btn-danger btn-sm" type="submit"><i class='fa fa-chevron-down' style='font-size:18px'></i></button></a></li>
                            </ul> 
                            <p>Teater Biru Merah</p></dt>
                        <div class="desc">
                            <dd>Tempat anak anak fasilkom menghilangkan penat ngoding. Tapi kadang kita juga ngerjain TP bareng bareng.
                                Pada tahun ini, saya menjadi Sekretaris TBM
                            </dd>
                        </div>
                    </div>

                    <div class="item">
                        <dt>
                            <ul>
                                <li><a class='up' href='#organisasi'><button class="btn btn-danger btn-sm" type="submit"><i class='fa fa-chevron-up' style='font-size:18px'></i></button></a></li>
                                <li><a class='down' href='#organisasi'><button class="btn btn-danger btn-sm" type="submit"><i class='fa fa-chevron-down' style='font-size:18px'></i></button></a></li>
                            </ul> 
                            <p>IMAMI UI</p></dt>
                        <div class="desc">
                            <dd>Kepengurusan paguyuban mahasiswa minang. Saya menjabat sebagai BPH 
                                divisi business and partnership</dd>
                        </div>
                    </div>

                    <div class="item">
                        <dt>
                            <ul>
                                <li><a class='up' href='#organisasi'><button class="btn btn-danger btn-sm" type="submit"><i class='fa fa-chevron-up' style='font-size:18px'></i></button></a></li>
                                <li><a class='down' href='#organisasi'><button class="btn btn-danger btn-sm" type="submit"><i class='fa fa-chevron-down' style='font-size:18px'></i></button></a></li>
                            </ul> 
                            <p>Bidang V OSIS SMANSa</p></dt>
                        <div class="desc">
                            <dd>Bidang V adalah bidang yang bertemakan pendidikan organisasi. Pada tahun pertama saya merupakan
                                salah satu dari 5 orang anggota divisi humas. Pada tahun selanjutnya saya menjabat sebagai ketua bidang tersebut.
                            </dd>
                        </div>
                    </div>

                    <div class="item">
                        <dt>
                            <ul>
                                <li><a class='up' href='#organisasi'><button class="btn btn-danger btn-sm" type="submit"><i class='fa fa-chevron-up' style='font-size:18px'></i></button></a></li>
                                <li><a class='down' href='#organisasi'><button class="btn btn-danger btn-sm" type="submit"><i class='fa fa-chevron-down' style='font-size:18px'></i></button></a></li>
                            </ul> 
                            <p>Fotografi SMANSa</p></dt>
                        <div class="desc">
                            <dd>Fotografi merupakan salah satu ekskul di SMAN 1 Padang. Biasanya kami mengadakan Photography
                                challenge setiap sebulan sekali. Pada saat di bangku kelas X, saya menjabat sebagai bendahara Fotografi
                                SMANSa Padang.
                            </dd>
                        </div>
                    </div>
                </dl>
            </div>
        </div>
    </div>
</body>
{% endblock %}
</html>