{% extends 'story3/base.html' %}
{% load static %}

{% block content %}
    <body>
        <h1 style="color: black;">List Event</h1>
        {% if event %}
        <button type="submit" class="btn btn-outline-danger"><a href ="{% url 'story6:tambah_event'  %}">Tambah kegiatan</a></button>
        <table class="table" style="top: 50px;">
            <thread>
                <tr>
                    <th>nama kegiatan</th>
                    <th>deskripsi</th>
                    <th>peserta</th>
                    <th>daftar</th>
                </tr>
            </thread>
            <tbody>
                <tr>
                {% for n_event in event %}
                    <td>{{n_event.event_name}}</td>
                    <td>{{n_event.description}}</td>
                    <td>
                        {% for person in attendance %}
                            {% if person.event_id == n_event.id %}
                                <ul>
                                    <li>{{ person.name }}</li>
                                </ul>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td><button type="submit" class="btn btn-outline-danger"><a href ="{% url 'story6:tambah_attendance' id=n_event.id %}">Tambah peserta</a></button></td>
                </tr>
                {% endfor %}
                {% else %}
                <h1>Belum ada kegiatan nih!</h1>
                <button type="submit" class="btn btn-outline-danger"><a href ="{% url 'story6:tambah_event'  %}">Buat Event</a></button>
                
                {% endif %}
            </tbody>
        </table>
    </body>
</html>
{% endblock %}