{% extends 'story3/base.html' %}
{% load static %}

{% block content %}
    <body>
        <h2>Tambah attendance</h2>
        <a href ="{% url 'story6:index'  %}">Kembali ke daftar event</a>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form2.as_p }}
            <button type="submit" class="add-btn">Daftar</button>
        </form>
    </body>
</html>
{% endblock %}