{% extends 'story3/base.html' %}
{% load static %}

{% block content %}
    <body>
        <h2 style="color: black;">Tambah event</h2>
        <a href ="{% url 'story6:index'  %}">Kembali ke daftar event</a>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form1.as_p }}
            <button type="submit" class="btn btn-outline-danger">Tambahkan Event</button>
        </form>
    </body>
</html>
{% endblock %}