{% extends 'story3/base.html' %}
{% load static %}

{% block content %}

<body>
    <section class="section1">
        {% include 'story3/navbar.html' %}
            <img class="decleft" src="../../static/story3/decleft.png">
            <img class="decright" src="../../static/story3/decright.png">
                <div class="home1">
                    <h2 class="nama">YASMIN<br>ZHAFIRA<br>FADHILA</h2>
                    <h2 class="npm">1906399234</h2>
                    <h2 class="angkatan">20<br>19</h2>
                <img class="foto" src="../../static/story3/fotoyasminnn.png">
            </div>
            <div class="home2">
                <p>Hi i’m Yasmin. I am an undergraduate student at Faculty of Computer
                    Science Universitas Indonesia batch 2019 . By making this website, 
                    i’m planning on giving you a little tour about my journey. 
                    </p>
            </div>
        
    </section>
    <section  class="section2">
        <div class="education" >


            <h1 id="education">EDUCATION.</h1>
            
            <div class="sekolah">
                <div class="namasekolah">
                    <h2 class="smp">SMPN 8<br> PADANG</h2>
                    <h2 class="sma">SMAN 1<br> PADANG</h2>
                    <h2 class="univ">UNIVERSITAS<br> INDONESIA</h2>
                </div>
            <img src="../../static/story3/smp.png">
            <img src="../../static/story3/sma.png">
            <img src="../../static/story3/ui.png">
        </div>
        </div>
    
    <div class="experience">
        <h1 id="experience">EXPERIENCE.</h1>
        <img class="dots" src="../../static/story3/dots.png">
        <div class="table">
        <div class="row">
            <div class="column" data-hover="Bedah fakultas jurusan">
            <h2>BKUI 20</h2>
            </div>
            <div class="column" data-hover="Secretary">
            <h2>Teater<br>Biru<br>Merah</h2>
            </div>
            <div class="column" data-hover="Staff of Registration">
            <h2>OIM UI<br>2020</h2>
            </div>
        </div>
        <div class="row">
            <div class="column" data-hover="Staff of Relation" >
                <h2>Wisuda<br>Genap<br>Fasilkom</h2>
            </div>
            <div class="column" data-hover="Staff of Business development">
                <h2>Perak<br>Fasilkom</h2>
            </div>
            <div class="column" data-hover="Staff of Public relation and Publication">
                <h2>Wisuda<br>Ganjil<br>Fasilkom</h2>
            </div>
            </div>
            <div class="row">
            <div class="column" data-hover="Ketua Bidang" >
                <h2>Bidang V<br>OSIS<br>SMAN 1<br>Padang</h2>
            </div>
            <div class="column" data-hover="PIC of Finance" >
                <h2>SMAPSiC<br>XIII+<br>Jr IX</h2>
            </div>
            <div class="column" data-hover="Project Officer">
                <h2>PKS<br>XIII</h2>
            </div>
            </div>
        </div>

    <img class="divider" src="../../static/story3/divider.png">
    
    <img class="exp" src="../../static/story3/experience.png">
    </div>
    </section>
    <section class="section3" >
        <h1 id="hobby">HOBBY AND<br>INTEREST.</h1>
        
<div class="slideshow-container">

    
    <div class="mySlides fade">
        <img src="../../static/story3/roomdecor.jpg" style="width:100%">
        <div class="text">ROOM DECORATING</div>
      </div>
    <div class="mySlides fade">
      <img src="../../static/story3/photography.jpg" style="width:100%">
      <div class="text">PHOTOGRAPHY</div>
    </div>
    <div class="mySlides fade">
      <img src="../../static/story3/makeup.jpg" style="width:100%">
      <div class="text">MAKE UP<br> & <br>SKIN CARE</div>
    </div>
    <div class="mySlides fade">
      <img src="../../static/story3/painting.jpg" style="width:100%">
      <div class="text">PAINTING</div>
    </div>
    <div class="mySlides fade">
        <img src="../../static/story3/travelling.jpg" style="width:100%">
        <div class="text">TRAVELLING</div>
      </div>
      <div class="mySlides fade">
        <img src="../../static/story3/organization.jpg" style="width:100%">
        <div class="text">MANAGING EVENT</div>
      </div>
      <div class="mySlides fade">
        <img src="../../static/story3/cooking.jpg" style="width:100%">
        <div class="text">COOKING</div>
      </div>

  
  
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>
  

  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
    <span class="dot" onclick="currentSlide(6)"></span>
    <span class="dot" onclick="currentSlide(7)"></span>
  </div>
  <script>
    var slideIndex = 1;
    showSlides(slideIndex);
    
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
    
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    
    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
    }
    </script>
    </section>
</body>
<footer>
  <p>phone : 0813-3333-3333       |       <a href="mailto:yasmin.zhafira@ui.ac.id">
      yasmin.zhafira@ui.ac.id</a></p>
</footer>

{% endblock %}
</html>