{% extends 'story3/base.html' %}
{% block content %}
{% load static %}
<body>
    <div class="menu">
        <button class="button button4"><a href="{% url 'homepage:index'%}">Story List</a></button>
        <ul>
            <li><a href="{% url 'story3:index'%}">HOME</a></li>
            <li><a href="{% url 'story3:profile'%}">PROFILE</a></li>
            <li><a href="{% url 'story3:index'%}#education">EDUCATION</a></li>
            <li><a href="{% url 'story3:index'%}#experience">EXPERIENCE</a></li>
            <li><a href="{% url 'story3:index'%}#hobby">INTEREST</a></li>
        </ul>
    </div>
</body>
{% endblock %}