{% extends 'story3/base.html' %}
{% load static %}

{% block content %}

<body>
    <section class="prof">
        {% include 'story3/navbar.html' %}
        <img class="decleft" src="../../static/story3/decleft.png">
            <img class="decright" src="../../static/story3/decright.png">
        <div class="box">
            <svg class="garis" height="650" width="500">
                <line x1="0" y1="0" x2="00" y2="900" style="stroke-width:9" />
              </svg>
            <h2>NAME</h2>
            <p>YASMIN ZHAFIRA FADHILA</p>
            <h2>D.O.B</h2>
            <p>FEBRUARY, 1ST 2001</p>
            <h2>ADDRESS</h2>
            <p>TARATAK PERMAI, PADANG</p>
            <h2>GENDER</h2>
            <p>FEMALE</p>
            <h2>BLOOD TYPE</h2>
            <p>O</p>
            <h2>MBTI</h2>
            <p>ESTP-T</p>
        </div>
    </section>
</body>
<footer>
    <p>phone : 0813-3333-3333       |       <a href="mailto:yasmin.zhafira@ui.ac.id">
        yasmin.zhafira@ui.ac.id</a></p>
</footer>
{% endblock %}
</html>
