{% extends 'story5/base.html' %}
{% load static %}

{% block content %}
    <body>
        <section class="form-matkul">
            <img class="dots4" src="../../static/story5/dots.png">
            <img class="decright3" src="../../static/story5/decright.png">
            <button class="button button4"><a href="index.html">Home</a></button>
            <div class="judul-page-form">
                <h1>DETAIL<br>MATKUL</h1>
                
            </div>
            <div class="container3">
                <form method="POST" , action="" , enctype="multipart/form-data">
                    <div class="data-detail">
                        <h1>PPW</h1>
                        <p>Bapak dan Ibu dosen</p>
                        <br><br>
                        <p><b>Jumlah SKS     : </b>3 SKS</p><br>
                        <p><b>Semester Tahun : </b>Gasal 2020/2021</p><br>
                        <p><b>Ruangan        : </b>Kamar masing masing hehe</p><br>
                        <p><b>Deskripsi      :</b></p>
                        <p>halo ini adalah bagian deskripsi mata kuliah PPW. disini kita ngoding iya, ngedesain iya, stress iya juga
                            mana tugas ga kelar kelar hadeh
                        </p>
                    </div>
                </form>
                <a class="go-to-main" href="matkul_list.html">Kembali ke daftar matkul</a>
            </div>
        </section>
    </body>
    <footer>
        <p>phone : 0813-3333-3333       |       <a href="mailto:yasmin.zhafira@ui.ac.id">
            yasmin.zhafira@ui.ac.id</a></p>
    </footer>
    {% endblock %}
</html>