{% extends 'story5/base.html' %}
{% load static %}

{% block content %}

    <body>
        {% if matkul %}
        <section class="form-matkul">
            <img class="dots4" src="{% static 'story5/dots.png' %}">
            <img class="decright3" src="{% static 'story5/decright.png' %}">
            <div class="judul-page-form">
                <h1>DETAIL<br>MATKUL</h1>
                
            </div>
            <div class="container3">
                <form method="POST" , action="" , enctype="multipart/form-data">
                    <div class="data-detail">
                        <h1>{{matkul.name}}</h1>
                        <p>{{matkul.dosen}}</p>
                        <br><br>
                        <p><b>Jumlah SKS     : </b>{{matkul.total_credit}}</p><br>
                        <p><b>Semester Tahun : </b>Gasal 2020/2021</p><br>
                        <p><b>Ruangan        : </b>{{matkul.classroom}}</p><br>
                        <p><b>Deskripsi      :</b></p>
                        <p>{{matkul.description}}</p>
                    </div>
                </form>
            </div>
        </section>
        {% endif %}
    </body>
    {% endblock %}
</html>
