{% extends 'story5/base.html' %}
{% load static %}

{% block content %}
    <body>
        <h2>matkul add</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="add-btn">Tambahkan mata kuliah</button>
        </form>
    </body>
    {% endblock %}
</html>