{% extends 'story5/base.html' %}
{% load static %}

{% block content %}
    <body>
        {% if matkul %}
        <h2>Matkul list</h2>
        <br><br><br>
        <table class="table">
            <thead>
                <tr>
                    <th>nama matkul</th>
                    <th>dosen</th>
                    <th>jumlah sks</th>
                    <th>ruangan</th>
                    <th>deskripsi</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for mata_kuliah in matkul %}
                <tr>
                    <td>{{mata_kuliah.name}}</td>
                    <td>{{mata_kuliah.dosen}}</td>
                    <td>{{mata_kuliah.total_credit}}</td>
                    <td>{{mata_kuliah.classroom}}</td>
                    <td>{{mata_kuliah.description}}</td>
                    <td><a href ="{% url 'story5:detail' mata_kuliah.pk %}"><button class="btn btn-outline-danger" type="submit">Detail</button></a></td>
                    <td><a href="{% url 'story5:delete' mata_kuliah.pk %}"><button class="btn btn-outline-danger" type="submit">Delete</button></a></td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'story5:matkul_add' %}"><button class="btn btn-danger" type="submit">Add</button></a>
        {% else %}
        <button type="submit"><a href ="{% url 'story5:matkul_add'  %}">Tambah dulu mbak</a></button>
        
        {% endif %}
    
    </body>
    {% endblock %}
</html>