*{
    margin: 0px;
    padding:0px;
    font-family: 'Roboto', sans-serif;
    background-image: url("bg-img.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right 50px bottom 70px;
    background-size: 700px;
}
a{
    font-size: 85px;
    text-decoration: none;
    color: black;
}


ul{
    list-style : none;
    width: 100%;
    }
li{
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}
li :hover{
    color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
a:hover{
    text-decoration: none;
}
.container{
    padding-top:50px;
}
