
img{
    padding-top:10px;
    margin: 0;
}
*{
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin-top: 10px; 
}
h2 {
    font-size: 50px;
}
h3{
    font-size: 30px;
}
p{
   font-size: 20px;
}
ul{
    font-size: 20px;
}
li{
    font-size: 20px;
}
.button4 {
    border-radius: 12px;
    background-color:#b49191;
    border: none;
    padding: 10px 20px;
    margin-left: 25px;
    margin: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    z-index: 100;
}
 .button4 a{
    text-decoration: none;
    color: #444F5A;
 }
 

