*{
    margin: 0px;
    padding:0px;
    font-family: 'Roboto', sans-serif;
    background-image: url("bg-img.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right 50px bottom 70px;
    background-size: 700px;
}
a{
    font-size: 85px;
    text-decoration: none;
    color: black;
}
/* h1{
    font-size: 70px;
    color:#FEF4F4 ;
    font-family: 'raleway black', arial;
    text-align: center;
    margin-top: 200px;
}
body{
    max-width: 100%;
    height: 100%;
    background-color: #444F5A;
}
.button4 {
    border-radius: 12px;
    background-color:#b49191;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 16px;
    cursor: pointer;
    transform: translate(0, 80px)
}
 .button4 a{
    padding: 10px 20px;
    text-decoration: none;
    color: #444F5A;
}
 */

ul{
    list-style : none;
    /* text-align: center; */
    width: 100%;
    /* position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,0px); */
    
    }
li{
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}
li :hover{
    color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
a:hover{
    text-decoration: none;
}
.container{
    padding-top:50px;
}
