<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link href="https://id.allfont.net/allfont.css?fonts=raleway-black" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/story1/style.css">
    <title>Hello</title>
    
</head>
<body>
    <button class="button button4"><a href="{% url 'homepage:index'%}">Story List</a></button>
    <img src="../../static/story1/futu.png" width=400>
    <h2>YASMIN ZHAFIRA FADHILA</h2>
    <h3>1906399234</h3>
    <p>Sistem Informasi<br>Universitas Indonesia<br>2019</p>
    <p>Hi, welcome to my web. Saya adalah orang yang suka berorganisasi. <br>
        Dengan mengikuti berbagai organisasi saya mendapatkan banyak pelajaran <br>
        yang mendukung saya untuk menjadi versi terbaik dari diri saya.</p>
    <p>Riwayat Pendidikan:</p>
    <ul>
        <li>SMP Negeri 8 Padang</li>
        <li>SMA Negeri 1 Padang</li>
        <li>Universitas Indonesia</li>
    </ul>
    <p>Hobi dan Interest:</p>
    <ul>
        <li>Photography</li>
        <li>Make up</li>
        <li>Travelling</li>
        <li>Journaling</li>
    </ul>
    <a href="https://www.instagram.com/yasminzhf/">link to my instagram!</a>
    
</body>
</html>