<!DOCTYPE html>
<html>
    <head>
        <title>cariBUKU.</title>
        <link rel="stylesheet" href="../../static/trialapp/style.css" type="text/css" media="screen">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
        crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img src="../../static/trialapp/caribuku.svg">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if user.is_authenticated%}
                        <li class="nav-item">
                            <span class="navbar-brand mb-0 h1">halo, {{user.username}}!</span>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        
                            {% if user.is_authenticated%}
                            <li>
                                <a class="nav-link" href="{% url 'trialapp:logout'%}">
                                    <button class="btn btn-warning back-btn" type="submit">Log out</button>
                                </a>
                            </li>
                            {% else %}
                            <li>
                                <a class="nav-link" href="{% url 'trialapp:login'%}">
                                    <button class="btn btn-warning back-btn" type="submit">Log in</button>
                                </a>
                            </li>
                            {% endif %}
                            <form class="form-inline">
                            <div class="nav-link">
                                <button class="btn btn-dark back-btn" type="submit"><a class="back-back"href="{% url 'homepage:index' %}">back</a></button>
                            </div>
                            <input id="keyword" class="form-control mr-sm-2" type="search" placeholder="Try to search" aria-label="Search">
                        </form>
                    </li>
                </ul> 
            </div>
        </nav>
    
        <div class="container">
            {% if not user.is_authenticated%}
            <div class="alert alert-warning alert-utk-login" role="alert">
                <p>Please Log in to see books previews</p>
            </div>
            {% endif %}
            <div class="row row-nothing">
                <img src="../../static/trialapp/nothing-to-show.svg">
            </div>
            
            <table class="table">
                <thead class="thead-dark" id="table-head">
                    <tr>
                    </tr>
                </thead>
                <tbody id="book_list">
                </tbody>
            </table>
        </div>
    </body>
    <script type="text/javascript" src="../../static/trialapp/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>