body{
  background-color: #eee;
}
.col-lg-4{
  padding:0px 25px 0px 25px !important;
}
.title{
  padding-bottom:20px;
  padding-left: 10px;
  padding-top:50px
}

.accordion dt{
  width : 100%;
  border : 2px solid black;
  cursor: pointer;
  border-radius: 50px;
  display:flex;
  margin: 10px 0;
  align-items: center;
  background-color: black;
}
.accordion dd {
  background-color: white;
  margin: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  padding: 10px;
}

.accordion dd:last-of-type {
  border-bottom-width: 1px;
}

.row{
  padding: 235px 30px 0 30px;
}
.accordion dt p{
  display: block;
  color: #eee;
  font-size: 20px;
  padding: 5px 0 8px 30px;
  margin: 0;
}
.accordion dd p {
  display: block;
  color: #272727;
  font-size: 20px;
  padding: 5px 0 8px 30px;
  margin: 0;
}
.desc{
  padding:0 15px;
  border-left: 2px solid #8D3030;
  margin-left: 25px;
  font-size: 18px;
  text-align: justify;
  overflow: hidden;
}
.btn-danger{
  background-color: transparent !important;
  border: transparent !important;
  width: 30px !important;
  height: 30px !important;
}
.btn-danger i{
  color: #8D3030;
}
.item dt ul{
    list-style: none;
    position:absolute;
    right: 40px;
    padding-top: 15px
}

.item dt ul li{
    display: inline-flex;
}
.item dt ul li i{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}
.containernbs{
  padding-top:50px;
  padding-bottom: 100px;
  background-color: #eee;
  width: 100%;
  min-height: 825px;
  background-image: url("Group1.svg"),url("Group2.svg"),url("Rectangle13.svg"),url("Group2.svg"),url("Group3.svg");
  background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,no-repeat;
  background-attachment: scroll,scroll,scroll,scroll,scroll;
  background-position: left -5% top 30px, right top 90px, right -10% top 350px, left  top 1700px,left 50% top 2000px;

}
h1{
  padding:40px 0 0 60px;
  color: black;
  text-align: center;
  
}
.col p{
  text-align: center;
}
.container{
  padding-top:200px;
  margin:0 0 0 0 !important;
}
.row{
  padding-bottom: 100px;
}
.containernbs h1{
  font-size: 100px;
}
.btn-dark{
  background-color: black !important;
  width:100px !important;
  position:absolute;
  top:20px;
  right:50px;
  color: white !important;
  border: black !important;
}
.btn-dark:hover{
  background-color: #471616 !important;
  color: #eee !important;
}
.explore{
  width:270px !important;
  position:absolute;
  top:110%;
  left:50%;
  transform: translate(-40%, 0);
  border-radius:50px !important;
  background-color: #8D3030 !important;
  border: #8D3030 !important;
  color: white !important;
}
.explore:hover{
  background-color: #6b2222 !important;
  color: white !important;
}

@media (max-width: 955px) {
  .explore{
    background-color: #6b2222 !important;
    border: #6b2222 !important;
    color: white !important;
  }
  .explore:hover{
    background-color: #471616 !important;
    color: white !important;
  }
  .containernbs{
     background-position: left -5%  top 30px, right top 90px, right -10% top 450px, left  top 1700px,left 50% top 2000px;
  }
}
@media (max-width: 550px) {
  .containernbs{
     background-position: left -5%  top 30px, right top 90px, right -10% top 550px, left  top 1700px,left 50% top 2000px;
  }
}