<!DOCTYPE html>
<html>
    
<head>
    <title>cariBUKU|Log in</title>
    <link rel="stylesheet" href="../../../static/trialapp/style.css" type="text/css" media="screen">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body class="register">
	<div class="container h-100">
        {% for message in messages %}
                    <div class="alert alert-warning fade show" role="alert">
    
                          <p id="messages">{{message}}</p>
                        
                    </div>
					    
				    {% endfor %}	
        <div class="row">
            <div class="col-lg">
                <img class="logo-reg-login" src="../../../static/trialapp/logo.svg">
                <img class="logo-small" src="../../../static/trialapp/logo-small.svg">
            </div>
            <div class="col-lg">
                <div class="register-box">
                    <div class="d-flex justify-content-center form-container">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="input-box">
                                <input type="text" name="username" placeholder="username" class="form-control">
                            </div>
                            <div class="input-box">
                                <input type="password" name="password" placeholder="password" class="form-control" >
                            </div>
                            <a class="d-flex justify-content-center link-to-other" href="{% url 'trialapp:signup' %}">don't have an account? create one</a>
                            <div class="d-flex justify-content-center mt-4">
                                <input class="btn btn-dark" type="submit" value="login">
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
	</div>
</body>
<script type="text/javascript">
$(document).ready(function(){
    window.setTimeout(function() {
      $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove();
    });
    },2000);
});
    </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>