<!DOCTYPE html>
<html>
    <head>
        <title>story8.</title>
        <link rel="stylesheet" href="../../static/story8/style.css" type="text/css" media="screen">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
        crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>
        <div class="container">
            <div class="row row-btn">
                <div class="col">
                    <a href="{% url 'homepage:index'%}"><button class="btn btn-dark" type="submit">back</button></a>
                </div>
            </div>
            <div class="row">
                <div class="col col-header">
                    <img src="../../static/story8/caribuku.png">
                </div>
                <div class="col col-header">
                    <input id="keyword" placeholder="Try to search">
                </div>
            </div>
            <div class="row row-nothing">
                <img src="../../static/story8/nothing-to-show.png">
            </div>
            
            <table class="table">
                <thead class="thead-dark" id="table-head">
                    <tr>
                    </tr>
                </thead>
                <tbody id="book_list">
                </tbody>
            </table>
        </div>
    </body>

    <script type="text/javascript" src="../../static/story8/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>